@import "reset"


h1
	margin-bottom: 40px

.add_list
	li
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0

.btn_goods
	width: 120px
	line-height: 30px
	color: #ffffff
	border-radius: 3px
	background: #007bff
	text-transform: uppercase
	font-size: 12px
